<h1>Roleplay by Post!</h1>

<p class='intro-p'>
    Roleplay by Post is for people who want to pen and paper game but don't have the time for regular sessions. After joining a game you can post what you do to the log and then go about your day. Your GM or Game Master will log on when they can and post a response to what happened. A way to play that fits around any schedule.
</p>

<div class='gmLogin login'>
    <button>Game Master Login</button>
    <ul>
        <li>Tell your Story</li>
        <li>Create the fun</li>
        <li>Help players with their stories</li>
    </ul>
</div>

<div class='playerLogin login'>
    <button>Player Login</button>
    <ul>
        <li>play your character</li>
        <li>blah</li>
        <li>be more creative later</li>
    </ul>
</div>